* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
main { min-height: calc(100vh - 127px) }

ul { list-style: none }

#voltarBtn,
#avancarBtn { position: relative }

#voltarBtn .fa-chevron-left,
#avancarBtn .fa-chevron-right {
    position: absolute;
    color: white;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

#voltarBtn .fa-chevron-left { animation-name: toTheLeft }
#avancarBtn .fa-chevron-right { animation-name: toTheRight }

#voltarBtn:hover .fa-chevron-left,
#avancarBtn:hover .fa-chevron-right { animation-play-state: running }


@keyframes toTheLeft {
    0% {
        color: white;
        left: 40%;
        top: 31%;
    }

    90% {
        color: white;
        left: 35%;
        top: 31%;
    }

    91% {
        color: transparent;
        left: 35%;
        top: 31%;
    }

    99% {
        color: transparent;
        left: 55%;
        top: 31%;
    }

    100% {
        color: white;
        left: 40%;
        top: 31%;
        animation-play-state: initial;
    }
}

@keyframes toTheRight {
    0% {
        color: white;
        right: 32%;
        top: 31%;
    }

    90% {
        color: white;
        right: 27%;
        top: 31%;
    }

    91% {
        color: transparent;
        right: 27%;
        top: 31%;
    }

    99% {
        color: transparent;
        right: 47%;
        top: 31%;
    }

    100% {
        color: white;
        right: 32%;
        top: 31%;
        animation-play-state: initial;
    }
}